doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
 form(method="POST", action="/add")
  input(type="text", name="username" placeholder="User Name" autocomplete="off")
  p 
  input(type="url", name="url" placeholder="XML URL" autocomplete="off")
  p
  input(type="submit")



 h2 XML TO JSON Converting file replace Only Country
      
    form(name="add-estimation", method="put")
        div.input
            span.label
            input(type="text", name="title" placeholder="Country")
       
        div.actions
            input(type="submit", value="Replace")

div.container
    p view xml root property country
    div.content
select(name='dropDown', id='')
    - each user, i in mainList
        option=user.country